version: 2.1

jobs:
  build-and-test:  
   
    docker:
      - image: cimg/python:3.10.2    
    
    steps:
      - checkout                 
      
      - run:
          name: install dependencies
          command: |
            Spython3 -m venv venv
            - venv/bin/activate
            make install
      - run:
          name: Run lint
          # This assumes pytest is installed via the install-package step above
          command: |
            - venv/bin/activate
            make lint

# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  sample: # This is the name of the workflow, feel free to change it to better match your workflow.
    # Inside the workflow, you define the jobs you want to run.
    jobs:
      - build-and-test
